<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let filmes of listaVideos" >
      <ion-item lines="full" (click)="exibirFilme(filmes)">
        <ion-thumbnail slot="start">
          <img [src]="filmes.cartaz" />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>{{filmes.nome}}</h1>
            <p>{{filmes.lancamento}} - {{filmes.duracao}}</p>
            <ion-badge color="danger" *ngFor="let genero of filmes.generos">{{genero}}</ion-badge>
          </div>
        </ion-label>

        <ion-chip color="success" outline>
          <ion-label>{{filmes.classificacao}}%</ion-label>
        </ion-chip>

      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="exibirAlerta()">
          <ion-icon slot="icon-only" name="heart"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
